.percentageButton {
  border: 1px solid var(--light-grey-color);
  flex: 1;
  border-radius: 10px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    height: 30px;
  }

  &__text {
    color: transparent;
    background-clip: text;
    width: 100%;
    text-align: center;
  }
}
